* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: gray;

  /* border: 2px solid red; */
}

.container {
  
}

.box {
  height: calc(100vh / 8);
  width: calc(100vh / 8);
  
}

.black {
  background-color: black;
  /* border: 2px solid red; */
}

.white {
  background-color: white;
  /* border: 2px solid red; */
}

.container tr:nth-child(2n) td:nth-child(2n + 1),
.container tr:nth-child(2n + 1) td:nth-child(2n) {
  background-color: black;
}

.container tr:nth-child(2n + 1) td:nth-child(2n + 1),
.container tr:nth-child(2n) td:nth-child(2n) {
  background-color: white;
}

.red {
  background-color: red !important;
}
